@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-medium: var(--primary-medium);
  --color-primary-light: var(--primary-light);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-quartenary: var(--quartenary);
  --color-highlighted: var(--highlighted);
  --color-error: var(--error);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-secondary: var(--muted-secondary);
  --color-muted-tertiary: var(--muted-tertiary);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-light: var(--accent-light);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-line-chart: var(--line-chart);
  --color-background-line-chart: var(--background-line-chart);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-success: var(--success);
  --color-search-dropdown: var(--search-dropdown);
  --color-surface-muted: var(--surface-muted);
  --color-blue-muted: var(--blue-muted);
  --color-home-layout: var(--home-layout);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.2603 0.0917 256.81);
  --primary-medium: oklch(0.6025 0.0897 255.48);
  --primary-light: oklch(0.5226 0.0939 256.01);
  --primary-hover: oklch(0.18 0.05 249.6);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --tertiary: oklch(0.4519 0.1764 259.15);
  --quartenary: oklch(0.9329 0.0063 255.48);
  --highlighted: oklch(0.7855 0.0228 256.75);
  --error: oklch(63.7% 0.237 25.331);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --muted-secondary: oklch(0.4188 0.0372 254.54);
  --muted-tertiary: oklch(0.4482 0.1749 259.25 / 40%);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --accent-light: oklch(0.5653 0.1236 237.1 / 60%);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --border-light: oklch(0.6301 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.7523 0.1663 62.59);
  --chart-2: oklch(0.6247 0.165 270.13);
  --chart-3: oklch(0.2776 0.014 248.33);
  --chart-4: oklch(0.8194 0.1561 84.2);
  --chart-5: oklch(0.8219 0.1356 174);
  --line-chart: oklch(0.5801 0.2012 258.22);
  --muted-background-line-chart: oklch(0.5801 0.2012 258.22 / 5.1%);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --success: oklch(0.7536 0.1901 144.76);
  --search-dropdown: oklch(0.5214 0.0551 255.27);
  --surface-muted: oklch(0.6782 0.0355 256.79 / 89.8%);
  --blue-muted: oklch(0.4193 0.0689 255.94);
  --home-layout: oklch(0.9329 0.0063 255.48);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.224 0.072 255.5);
  --primary-hover: oklch(0.18 0.05 249.6);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-manrope;
  }
}
